.controllerBtnContainer {
  width: auto;
  height: auto;
  margin: 2vw;
}

.controllerBtn {
  margin-left: 41.5vw !important;
  margin-right: 41.5vw !important;
  width: 12vw;
}

.resetStyle {
  background-color: #e69318 !important;
}
