.Info {
  height: 90vh;
  margin: 0.5vw 5vw;
  width: 100%;
  color: #FFFFFF;
  float: right;
}

.about, .experince {
  margin: 1vw 0vw;
}

.name, .title{
  font-size: 3vw;
  text-align: center;
  margin: 1vw;
  color: #FFFFFF;
}

.title {
  font-size: 2vw!important;
  color: #09fbd3!important;
}

.description {
  margin: 2vw 10vw;
  font-size: 1.2vw;
  opacity: 0.7;
}

.Education {

}

.hideInfo {
  display: none;
}

.photo-contact-skills {
  margin: 4vw 10vw;
  height: 14vw;
  display: flex;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin: 2vw 0vw;
  width: 75%;
  opacity: 0.8;
}

.skill-item-container {
  display: flex;
  flex: 2 1 50%;
  width: 50%;
  height: 3vw;
}

.skill-item {
  flex: 2 1 50%;
  width: 50%;
  height: 3vw;
}

.skills-contact {
  width: 65%;
}

.skills-contact > span {
  opacity: 0.8;
}

.chevron-right {
  color: #09fbd3;
  width: 1.2vw!important;
  height: 1.2vw!important;
  margin: 0.15vw 0.3vw!important;
}

.profile-img {
  width: 35%;
  float: right;
}

.btn-outline {
  color: #09fbd3!important;
  border: 0.1vw solid #09fbd3!important;
  font-family: serif!important;
  margin-top: 3vw!important;
  font-size: 1.2vw!important;
  padding: 0.5vw 1vw!important;
  float: left;
}

 .experince-title {
   margin: 1vw 0vw;
   color: #FFFFFF!important;
   display: none;
 }

.experince-list {
  margin: 2vw 0vw 0.5vw;
  display: flex;
  flex-direction: row;
}

.experince-item {
  width: 25%;
  opacity: 0.8;
  font-size: 1.5vw;
}

.experince-selected {
  color: #79FFFE;
  opacity: 1!important;
}

.hr-margin-1 {
  margin-left: 25%;
}
.hr-margin-2 {
  margin-left: 50%;
}
.hr-margin-3 {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 4vw;
  margin: 0;
  background: #09fbd3;
  border: none;
  transition: .3s ease-in-out;
}

.experince-details {
  margin: 2vw 0vw;
}

.experince-item {
  cursor: pointer;
}

.experince-logo {
  width: 2vw;
}

.logo-title {
  display: flex;
}

.logo-title > img {
  width: 4vw;
  margin-top: 0.5vw;
}

.logo-title > div {
  margin: 0.25vw 1vw;
  opacity: 0.8;
  font-size: 1.5vw;
}

.timeframe {
  font-size: 1vw;
}

.experince-projects {
  margin: 2vw 0vw;
}

.project-details {
  margin-bottom: 1vw;
  display: flex;
}

.project-details > div {
  opacity: 0.6;
}
