.Header {
  height: 4vw;
  background-image: linear-gradient(to right, #1f2433 , #09fbd3);
}

.Icon-holder {
  float: left;
  margin: 0.5vw 3vw;
}

.Icon-holder > img {
  width: 2.5vw;
}

.Links-holder {
  width: 26vw;
  float: right;
  margin: 1vw;
  display: flex;
  flex-wrap: nowrap;
}

.show {
  display: block!important;
}

.hide {
  display: none!important;
}

.header-link {
  cursor: pointer;
  width: 7vw!important;
}

.resume-link {
  font-size: 1.2vw;
  margin: 0.3vw 2vw 0vw 1.5vw;
  font-weight: 600;
  font-family: roboto;
  text-transform: uppercase;
  cursor: pointer;
  color: #13161f;
  text-decoration: none;
}
