.Nav {
  height: 45vw;
  margin: 1.5vw 0vw 3vw 3vw;
  display: flex;
}

.Nav ul {
  padding-inline-start: 0vw;
}

.Nav li {
  list-style-type: none;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.6;
  margin-top: 15vh;
  cursor: pointer;
}

.Nav li:first-child {
  margin-top: 5vh;
}

.selected {
  font-weight: 450;
  opacity: 1!important;
  color: #79FFFE!important;
}

.vertical-slider {
  width: 3vw;
  height: 3vw;
  border-right: 0.2vw solid #09fbd3;
  transition: .3s ease-in-out;
}

.vertical-slider-index-0 {
  margin-top: 2.5vw;
}

.vertical-slider-index-1 {
  margin-top: 11.5vw;
}

.vertical-slider-index-2 {
  margin-top: 20.5vw;
}
