.footer {
  height: 5vw;
  background-color: #1f2433;
  box-shadow: 0vw 0vw 2vw 0vw #000000;
  width: 100%;
  position: absolute;
}

.footer-text {
  font-size: 1.2vw;
  text-align: center;
  padding-top: 1vw;
  color: #FFFFFF;
  opacity: 0.7;
}

.footer-link {
  margin-left: 50%;
  color: #09fbd3;
  width: 1.5vw!important;
}
