.footer {
  height: 5vw;
  background-color: #122929;
  box-shadow: 0vw 0vw 2vw 0vw #000000;
}

.footer-text {
  font-size: 1.2vw;
  text-align: center;
  padding-top: 1vw;
  color: #FFFFFF;
  opacity: 0.7;
}
